* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-SI {
    width: 100%;
    text-align: center;
    display: flex;
    margin: auto;
    position: relative;
    height: 100vh;
}

.container-SI>img {
    width: 100%;
    height: 100%;
}

.home-SI {
    width: 22%;
    position: absolute;
    right: 0;
    margin-top: 200px;
}

.container-SI h1 {
    margin-bottom: 30px;
}

.menu-text,
.menu-tex-button,
.menu-text-input,
.quotes {
    margin-bottom: 20px;
}

.menu-tex-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signIn-google,
.signIn-facebook {
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 200px;
    font-size: 15px;
    margin-bottom: 10px;
}

#email,
#password {
    background: transparent;
}

.signIn-google {
    background: #ea4335;
}

/* .signIn-facebook{
    background: #4267b2;
} */
.menu-text-input {
    padding: 0px 15px 0px 15px;
}

.input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
}


.title-SI {
    text-align: start;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
}

.menu-tex-button {
    margin-bottom: 20px;
}

.signIn {
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px;
    width: 200px;
    font-size: 15px;
}

.signInGG0,
.signInFB {
    cursor: pointer;
    width: 200px;
    border-radius: 20px;
    padding: 10px;
}

.signInGG i {
    text-align: start;
}

.signInFB i {
    text-align: start;
}

.link a {
    color: rgb(87, 179, 116);
    text-decoration: none;
}