<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
  integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/views/components/adminMenu/adminMenu.css" />
<div class="container1">

  <div>
    <div class="row">
      <p><a href="/admin/adminProfile">profile</a></p>
      <p><a href="/author/viewCreateAuthor">create author</a></p>
      <p><a href="/author/getAllAuthor">manage author</a></p>
      <p><a href="/manga/viewAllManga">manage manga</a></p>
      <p><a href="/user/getAllUsers">manage user</a></p>
      <p><a href="/manga/viewCreateManga">manage manga author post</a></p>
      <p><a href="/admin/Logout">log out</a></p>
    </div>
  </div>
</div>