<div class="createManga">
  <div class="adminMenu">
    <%- include('../../../../components/authorMenu/authorMenu.ejs') %>
  </div>

  <div class="createManga-info">
    <form action="" enctype="multipart/form-data">
      <p>name</p>
      <input type="text" name="name" id="name" placeholder="input name manga" />
      <p>avatar</p>
      <input type="file" name="avatar" id="avatar" placeholder="avatar" />
      <div id="selectCategory">Choose Category
        <select id="selectNode" onchange="handleOption()">
          <option value="" selected>Selectect</option>
          <% category.forEach((e)=> {%>
            <option value="category" onclick="changeCategory(this)" id="<%= e._id %>">
              <%= e.name %>
            </option>
            <% }) %>
        </select>
      </div>
      <div id="showcategory">

      </div>
      <p>discription</p>
      <input type="text" name="description" id="description" placeholder="input description manga" />
      <p>price</p>
      <input type="number" name="price" id="price" placeholder="input description manga" />
      <button type="button" onclick="createManga()">submit</button>
    </form>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="/views/pages/author/reviewManga/createManga/createManga.css">
<script src="/views/pages/author/reviewManga/createManga/createManga.js"></script>